<div class="messages">
    @for (message of highlightedMessages; track $index) {
    <div class="message ai" [ngClass]="message.content">
        <span class="description-medium"><strong>IA</strong> - 1 min</span>
        <p [innerHTML]="message.content"></p>
        <!-- <ul class="sources">
                <li>
                    <a href=""> <img class="icon-small" src="../../assets/icons/external-link.svg" alt="open reference" />
                        Reference 1.pdf
                    </a>
                </li>
            </ul> -->
    </div>
    }
</div>
<div class="input-message">
    <textarea placeholder="Message..." rows="1" (input)="adjustHeight($event)"
        (keypress)="handleKeyPress($event)"></textarea>
    <button type="button" title="send message">
        <img src="../../assets/icons/send.svg" alt="icon send message" />
    </button>
</div>