:root {
    --white: #fff;
    --black: #000;
    --red: #dc3545;
    --gray-100: #ececec;
    --gray-200: #e3e3e3;
    --gray-300: #cdcdcd;
    --gray-400: #b4b4b4;
    --gray-500: #9b9b9b;
    --gray-600: #676767;
    --gray-700: #424242;
    --gray-750: #2f2f2f;
    --gray-800: #212121;
    --gray-900: #171717;
    --gray-950: #0d0d0d;
    
    --primary-color: #7A1CAC;
    --primary-color-1: #8733B4;
    --primary-color-2: #9549BD;
    --primary-color-3: #A260C5;
    --primary-color-4: #AF77CD;
    --primary-color-5: #BD8ED6;

    --secondary-color: #7A1CAC;
    --secondary-color-1: #8733B4;
    --secondary-color-2: #9549BD;
    --secondary-color-3: #A260C5;
    --secondary-color-4: #AF77CD;
    --secondary-color-5: #BD8ED6;

    --tertiary-color: #7A1CAC;
    --tertiary-color-1: #8733B4;
    --tertiary-color-2: #9549BD;
    --tertiary-color-3: #A260C5;
    --tertiary-color-4: #AF77CD;
    --tertiary-color-5: #BD8ED6;
    
    --logo-color: var(--black);
    --text-color: var(--gray-900);
    --text-color-2: var(--gray-950);
    --text-color-3: var(--black);
    --bg-color: var(--gray-100);
    --header-bg-color: var(--bg-color);
    --border-color: var(--gray-900);
    --icon-border-color: var(--gray-750);
    --input-bg-color: var(--gray-200);
    --input-color: var(--text-color);
    --input-border-color: var(--gray-700);
    --button-color: var(--gray-200);
    --button-bg-color: var(--primary-color-2);
    --button-bg-color-hover: var(--primary-color-3);
    --menu-bg-color: var(--primary-color);
    --message-user-bg-color: var(--gray-300);
    --conversations-list-color: var(--gray-200);
    --conversations-list-bg-color: var(--primary-color-2);
    --conversations-list-bg-color-hover: var(--primary-color-3);
    --conversations-list-active-color: var(--conversations-list-color);
    --dropdown-bg-color: var(--white);
    --dropdown-color: var(--text-color);
    --scrollbar-track-color: var(--primary-color-2);
    --scrollbar-thumb-color: var(--primary-color-3);
    --scrollbar-thumb-color-hover: var(--primary-color-4);
}

[data-theme='dark'] {
    --red: #fb5454;
    --logo-color: var(--primary-color);
    --text-color: var(--gray-200);
    --text-color-2: var(--gray-300);
    --text-color-3: var(--gray-400);
    --bg-color: var(--gray-800);
    --header-bg-color: var(--gray-800);
    --border-color: var(--gray-750);
    --icon-border-color: var(--gray-200);
    --input-bg-color: var(--border-color);
    --input-color: var(--text-color);
    --input-border-color: var(--gray-700);
    --button-bg-color: var(--gray-950);
    --button-bg-color-hover: var(--black);
    --menu-bg-color: var(--gray-900);
    --message-user-bg-color: var(--gray-750);
    --conversations-list-color: var(--text-color);
    --conversations-list-bg-color: var(--bg-color);
    --conversations-list-bg-color-hover: var(--gray-950);
    --conversations-list-active-color: var(--primary-color);
    --dropdown-bg-color: var(--bg-color);
    --dropdown-color: var(--primary-color);
    --scrollbar-track-color: var(--gray-750);
    --scrollbar-thumb-color: var(--gray-700);
    --scrollbar-thumb-color-hover: var(--gray-600);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}

body {
    height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

mark {
    background-color: #FF9632;
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        border-bottom: 1px solid var(--text-color);
    }
}

ul {
    list-style: none;
}

button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

button.primary {
    background-color: var(--button-bg-color);
    color: var(--gray-100);

    &:hover {
        background-color: var(--button-bg-color-hover);
    }

    img {
        filter: invert(0.8);
    }
}

input,
textarea {
    background: var(--input-bg-color);
    color: var(--input-color);
    border: 1px solid var(--input-border-color);
    border-radius: 6px;
    font: inherit;
    outline: none;
    padding: 6px;
    width: 100%;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

img.icon-large {
    width: 24px;
    height: 24px;
}

img.icon-medium {
    width: 20px;
    height: 20px;
}

img.icon-small {
    width: 16px;
    height: 16px;
}

[data-theme='dark']{
    img.icon-large {
        filter: invert(0.9);
    }
    
    img.icon-medium {
        filter: invert(0.9);
    }
    
    img.icon-small {
        filter: invert(0.9);
    }
    
}

form {
    .field {
        display: flex;
        flex-direction: column;
    
        label {
            padding-bottom: 8px;
        }
    }
}

.error-messages {
    small {
        color: var(--red);
        font-size: 12px;
    }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-color-hover);
}

::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color);
    border-radius: 4px;
}

//#region TYPOGRAPHY
.cta-large {
    font-size: 40px;
    font-weight: 700;
}

.cta-medium {
    font-size: 36px;
    font-weight: 600;
}

.display-large {
    font-size: 32px;
    font-weight: 700;
}

.display-medium {
    font-size: 28px;
    font-weight: 600;
}

.headline-large {
    font-size: 24px;
    font-weight: 600;
}

.headline-medium {
    font-size: 24px;
    font-weight: 500;
}

.headline-small {
    font-size: 20px;
    font-weight: 500;
}

.title-large {
    font-size: 20px;
    font-weight: 600;
}

.title-medium {
    font-size: 20px;
    font-weight: 500;
}

.title-medium-bold {
    font-size: 18px;
    font-weight: 700;
}

.title-small {
    font-size: 18px;
    font-weight: 500;
}

.body-text-large {
    font-size: 16px;
    font-weight: 600;
}

.body-text-medium {
    font-size: 16px;
    font-weight: 500;
}

.label-large {
    font-size: 16px;
    font-weight: 500;
}

.label-medium {
    font-size: 14px;
    font-weight: 500;
}

.label-small {
    font-size: 14px;
    font-weight: 400;
}

.description-large {
    font-size: 12px;
    font-weight: 500;
}

.description-medium {
    font-size: 12px;
    font-weight: 400;
}

.description-small {
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    color: var(--text-color-3);
}

//#endregion TYPOGRAPHY